*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
   
}
.header div img{
    border-radius: 50%;
}
.navbar{
    width:80%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
   

  }
 
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#btn{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 181, 166);
    color: white;
    
}
#btn:hover{
    background-color:rgb(0, 33, 31); 
    transition: 1s;
}
.nav li a:hover{
    text-decoration: underline;
    transition: 0.5s;

    color: rgb(0, 181, 166); ;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration:none;
    font-size: 17px;
    color: black;
    font-weight:900;
    font-family:monospace;
 
}
.navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navbar div h1{
    font-family:cursive;
    font-weight: bolder;
}

/* ...............................section 2..................................... */

.maintwo{
  width: 100%;
  height: 50vh;
  background-color:#24342f; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.maintwo div{
  width: 460px;
  /* height: 150px; */
  border: 1px solid black;
  background:transparent;
  border: 2px solid rgba(255,255,255, .2);
  backdrop-filter: blur(20px);
  border: none;
}
.vip{
  color: #fff;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Madpro{
  color:  rgb(0, 181, 166);
  text-decoration: underline;

}
.vip2{
  color: #fff;
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ..................................section 3................................*/

.fixed{
  width: 100%;
  height: 100vh;
  background-image: url(team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  .team{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 28%;
    margin-top: 20%;
    
    color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
  }
.parenttwo{
  width: 100%;
  height: 100%;
  display: grid;
  background-image: url(background7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
 background-color:  rgb(96, 138, 129);
 padding: 30px;
 
  


}
.parenttwo div{
  height: 300px;
  width: 300px;
  border: 1px solid black;

  padding: 30px;
  border: 2px solid rgba(255,255,255, .2);
  backdrop-filter: blur(15px);

}
.parenttwo div:hover{
  background-color:rgb(0, 118, 108) ;
  transition: 1s;
  
  
}
.btnthree{
  color:  rgb(130, 255, 245);
  border: none;
  background: none;
  position: absolute;
  margin-left: 28%;
  
  text-decoration:underline;
  
}
.btnthree:hover{
  color:rgb(0, 33, 31) ;
  transition: 0.5s;
}
.para{
  font-size: 13px;
  text-align: center;
  color: #fff;
  
  
}
.headtwo{
  text-align: center;
  text-decoration: underline;
  
  

}












/* ...............swiper.css................ */

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
  .swiper {
    width: 100%;
    height: 100%;
    background: #000;
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }
 
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }
  .container div{
    width:500px;
    height: 500px;
  }
  .container .heading{
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
    color: black;
  }
  .head{
    color:  rgb(0, 181, 166);

  }

  #image{
    margin-top: 40%;
    margin-left: 15%;
  }
  .btn2{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:rgb(0, 181, 166);
    color: white;
    border: none;
  }
  .btn2:hover{
    background-color:rgb(0, 33, 31); 
    transition: 1s;
}
  .child{
    text-align: center;

  }
.swiper-slide{
    display: flex;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url(vecteezy_doctor-medical-background-illustration_23570080.jpg);
    background-position: center;
    background-size: cover;


}
.container2 div{
    width:500px;
    height: 500px;
    background:transparent;
  }

  .child2{

    text-align: center;

 

    
  }
  .head2{
    color: #000;
    font-size: 35px;
    font-family:monospace;
    margin-top: 30px;
 
  }
  .head3{
    color: rgb(33, 33, 33);
    font-size: 35px;
  

  }
  .child2 .btn3{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:rgb(237, 180, 74);
    color: white;
    border: none;

  }
  .btn3:hover{
    background-color:rgb(0, 33, 31); 
    transition: 1s;
  }
  #heart{
    font-size: 35px;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 32%;
  }
  .container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .container3 div{
    width: 500px;
    height: 500px;
    border: 2px solid black;
  }
  .container3 .box1{
    width: 350px;
    height: 500px;


    background-image: url(StockCake-Medical\ Team\ Consultation_1740299293.jpg);
    background-position:center ;
    background-size: cover;
    border: none;
  }
  .container3 .box1:hover{
    transform: scale(0.9);
    transition: 1s;
  }
  .container3 .box2{
    width: 350px;
    height: 500px;
    background-image: url(StockCake-Medical\ Professional\ Consultation_1740299899.jpg);
    background-position:center ;
    background-size: cover;
    border: none;
  }
  .container3 .box2:hover{
    transform: scale(0.9);
    transition: 1s;
  }
  
  .container3 .box0{
    width: 350px;
    height: 500px;

   
    /* background-image: url(StockCake-Medical\ Professional\ Consultation_1740299899.jpg); */
    background-position:center ;
    background-size: cover;
    border: none;
    /* backdrop-filter: blur(10px); */
 
    color: #5b5b5b;
  
    text-align: center;
 }
  
  .container3 .box0:hover{
    transform: scale(0.9);
    transition: 1s;
  }
 

 