*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/poster4.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.wrapper{
    width: 350px;
    height: 430px;
   backdrop-filter: blur(10px);
    border: 2px solid gray;
    background:transparent;
    color: white;
    text-align: center;
    border-radius: 10px;
    

}
 

input{
    width: 85%;
    height: 30px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid gray;
    padding: 15px;

}
input::placeholder{
    color: white;
}
#submit{
    padding:5px;
    background-color:rgb(214, 207, 207);

}
#submit:hover{
    transform: scale(1.1);
    transition: 1s;
}



