


*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
   
}
.header div img{
    border-radius: 50%;
}
.navbar{
    width:80%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
   

  }
 
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#btn{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 181, 166);
    color: white;
    
}
#btn:hover{
    background-color:rgb(0, 33, 31); 
    transition: 1s;
}
.nav li a:hover{
    text-decoration: underline;
    transition: 0.5s;

    color: rgb(0, 181, 166); ;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration:none;
    font-size: 17px;
    color: black;
    font-weight:900;
    font-family:monospace;
 
}
.navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navbar div h1{
    font-family:cursive;
    font-weight: bolder;
}

/* .............................section one.................................. */

.mainone{
  width:100%;
  height: 100%;
  padding: 50px;
  background-color: #e4fff9;

}
.title{
  font-size: 40px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
button{
  
  background-color: rgb(0, 181, 166);
  padding: 10px;
  color: #fff;
  border: none;
}
button a{
  text-decoration: none;
  color: #fff;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover{
  background-color:rgb(0, 33, 31); 
  transition: 1s;
} 

/* .......................table section.......................... */

    .table{
        width: 100%;
        height: 100%;
        background-image: url(/bkground6.jpg);
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding: 80px;
      
    }
      #display{
       /* backdrop-filter: blur(20px); */
       margin-left: 30px;
       border:2px solid gray;

      }
      #pagin{
        display: flex;
        justify-content: center;
        align-items: center;
      }


/* ......................footer................................ */


.footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:#19352c;
    padding: 50px;
  
  }
  .footer div{
    width: 350px;
    height: 350px; 
    color: #fff;
    padding: 40px;
    
  }
  .white{
    color: #8eaca5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .iconss{
    width: 350px;
   
    display: flex;
    justify-content:flex-start;
    gap: 15px;
  
  }
  .ending{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    background-color:#07211a;
    color: #9fbab4;
  
  }
  .word{
    color:rgb(0, 181, 166) ;
  }


  .Vip{
    padding: 10px;
    border: none;
    
  
  
    }
    #Vip2{
      padding: 10px;
      color: rgb(254, 80, 80);
      font-weight: bold;
      ;
    
    }
  #searchinp{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    border:none;
  
    
  }
  #searchh{
  width: 350px;
  margin-left: 5%;
  border:none;
   
  }



  /* Updated Form  */

  #updateForm{
    width: 35%;
    border: 2px solid rgb(163, 171, 163);
    margin-left: 33%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    /* background-color: #dde9dc; */
    box-shadow: 5px 5px 0px 0px  rgb(170, 190, 170);

  }
